<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" colors="true" columns="max" beStrictAboutTestsThatDoNotTestAnything="false" bootstrap="./vendor/autoload.php" cacheResult="false">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">Console</directory>
            <directory suffix=".php">Controller</directory>
            <directory suffix=".php">Helper</directory>
            <directory suffix=".php">Logger</directory>
            <directory suffix=".php">Model</directory>
            <directory suffix=".php">Observer</directory>
            <directory suffix=".php">Plugin</directory>
            <directory suffix=".php">Serializer</directory>
        </include>
        <exclude>
            <directory>Test</directory>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="Przelewy24 Magento module">
            <directory>Test/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
