<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <clawrock_debug>
            <general>
                <active>1</active>
                <allowed_ips>127.0.0.1</allowed_ips>
                <error_handler>whoops</error_handler>
            </general>
            <collector>
                <ajax>1</ajax>
                <cache>1</cache>
                <config>1</config>
                <customer>1</customer>
                <database>1</database>
                <event>1</event>
                <plugin>1</plugin>
                <layout>1</layout>
                <memory>1</memory>
                <model>1</model>
                <request>1</request>
                <time>1</time>
                <translation>1</translation>
            </collector>
            <performance>
                <core_color>#FF5722</core_color>
                <routing_color>#009688</routing_color>
                <config_color>#795548</config_color>
                <event_color>#2196F3</event_color>
                <layout_color>#4CAF50</layout_color>
                <eav_color>#3F51B5</eav_color>
                <controller_color>#9C27B0</controller_color>
                <template_color>#607D8B</template_color>
                <debug_color>#000000</debug_color>
                <unknown_color>#9E9E9E</unknown_color>
            </performance>
            <profiler>
                <collectors>
                    <request>ClawRock\Debug\Model\DataCollector\RequestDataCollector</request>
                    <memory>ClawRock\Debug\Model\DataCollector\MemoryDataCollector</memory>
                    <time>ClawRock\Debug\Model\DataCollector\TimeDataCollector</time>
                    <ajax>ClawRock\Debug\Model\DataCollector\AjaxDataCollector</ajax>
                    <database>ClawRock\Debug\Model\DataCollector\DatabaseDataCollector</database>
                    <translation>ClawRock\Debug\Model\DataCollector\TranslationDataCollector</translation>
                    <customer>ClawRock\Debug\Model\DataCollector\CustomerDataCollector</customer>
                    <layout>ClawRock\Debug\Model\DataCollector\LayoutDataCollector</layout>
                    <cache>ClawRock\Debug\Model\DataCollector\CacheDataCollector</cache>
                    <config>ClawRock\Debug\Model\DataCollector\ConfigDataCollector</config>
                    <model>ClawRock\Debug\Model\DataCollector\ModelDataCollector</model>
                    <event>ClawRock\Debug\Model\DataCollector\EventDataCollector</event>
                    <plugin>ClawRock\Debug\Model\DataCollector\PluginDataCollector</plugin>
                </collectors>
            </profiler>
        </clawrock_debug>
    </default>
</config>
